/* Aryan Asalkhou, Alex Diaz, Christian Hart, Jamie Kouttu */

/* @font-face {
    font-family: mario64pixels;
    src: url(static/Mario64.woff) format(woff);
} */

body {
    text-align: center;
    margin: 3rem;
    /* font-family: mario64pixels; */
}

p {
    /* background-color: rgba(0, 0, 0, 50%); */
    font-size: 20px;
    /* color: white; */
    padding: 1rem;
}

#wrapper {
    height: 432px;
    width: 432px;
    /* border: solid 10px black; */
    margin: 1rem auto;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

.tile {
    height: 96px;
    width: 96px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px white;
    background-image: url(static/fireballmario.jpg);
    font-family: sans-serif;
    border: solid 2px black;
    position: absolute;
}

#tile1 {
    position: absolute;
    background-position: 0px 0px;
}
#tile2 {
    position: absolute;
    background-position: -100px 0px;
    top: 0;
    left: 100px;
}
#tile3 {
    position: absolute;
    background-position: -200px 0px;
    top: 0;
    left: 200px;
}
#tile4 {
    position: absolute;
    background-position: -300px 0px;
    top: 0;
    left: 300px;
}
#tile5 {
    position: absolute;
    background-position: 0px -100px;
    top: 100px;
    left: 0;
}
#tile6 {
    position: absolute;
    background-position: -100px -100px;
    top: 100px;
    left: 100px;
}
#tile7 {
    position: absolute;
    background-position: -200px -100px;
    top: 100px;
    left: 200px;
}
#tile8 {
    position: absolute;
    background-position: -300px -100px;
    top: 100px;
    left: 300px;
}
#tile9 {
    position: absolute;
    background-position: 0px -200px;
    top: 200px;
    left: 0;
}
#tile10 {
    position: absolute;
    background-position: -100px -200px;
    top: 200px;
    left: 100px;
}
#tile11 {
    position: absolute;
    background-position: -200px -200px;
    top: 200px;
    left: 200px;
}
#tile12 {
    position: absolute;
    background-position: -300px -200px;
    top: 200px;
    left: 300px;
}
#tile13 {
    position: absolute;
    background-position: 0px -300px;
    top: 300px;
    left: 0;
}
#tile14 {
    position: absolute;
    background-position: -100px -300px;
    top: 300px;
    left: 100px;
}
#tile15 {
    position: absolute;
    background-position: -200px -300px;
    top: 300px;
    left: 200px;
}

.tile.moveablePiece:hover{
    border-color: red;
    color: #006600;
    text-decoration-line: underline;
    cursor: pointer;
}

.w3c {
    width: 100px;
    float: right;
}

#winning {
	width: 1300px;
        float: center;
	transform: rotate(360deg);
	overflow: hidden;
        position: relative;
        animation: MarqueeLeft linear 18s infinite;
	
}

@keyframes MarqueeLeft 
{
  0% { right: -100% }
  100% { right: 100% }
}

.fireballMario{
    background-image: url("static/fireballmario.jpg");
}

.tanookiMario{
    background-image: url("static/tanookiMario.jpg");
}

.toad{
    background-image: url("static/toad.jpg");
}

.waluigi{
    background-image: url("static/waluigi.jpg");
}