/* Aryan Asalkhou, Alex Diaz, Christian Hart, Jamie Kouttu */

body {
    text-align: center;
    margin: 3rem;
}

#wrapper {
    height: 432px;
    width: 432px;
    /* border: solid 10px black; */
    margin: 1rem auto;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

.tile {
    height: 96px;
    width: 96px;
    font-size: 32px;
    background-image: url(fireballmario.jpg);
    font-family: sans-serif;
    border: solid 2px black;
    position: absolute;
}

#tile1 {
    position: absolute;
    background-position: 0px 0px;
}
#tile2 {
    position: absolute;
    background-position: -100px 0px;
    top: 0;
    left: 100px;
}
#tile3 {
    position: absolute;
    background-position: -200px 0px;
    top: 0;
    left: 200px;
}
#tile4 {
    position: absolute;
    background-position: -300px 0px;
    top: 0;
    left: 300px;
}
#tile5 {
    position: absolute;
    background-position: 0px -100px;
    top: 100px;
    left: 0;
}
#tile6 {
    position: absolute;
    background-position: -100px -100px;
    top: 100px;
    left: 100px;
}
#tile7 {
    position: absolute;
    background-position: -200px -100px;
    top: 100px;
    left: 200px;
}
#tile8 {
    position: absolute;
    background-position: -300px -100px;
    top: 100px;
    left: 300px;
}
#tile9 {
    position: absolute;
    background-position: 0px -200px;
    top: 200px;
    left: 0;
}
#tile10 {
    position: absolute;
    background-position: -100px -200px;
    top: 200px;
    left: 100px;
}
#tile11 {
    position: absolute;
    background-position: -200px -200px;
    top: 200px;
    left: 200px;
}
#tile12 {
    position: absolute;
    background-position: -300px -200px;
    top: 200px;
    left: 300px;
}
#tile13 {
    position: absolute;
    background-position: 0px -300px;
    top: 300px;
    left: 0;
}
#tile14 {
    position: absolute;
    background-position: -100px -300px;
    top: 300px;
    left: 100px;
}
#tile15 {
    position: absolute;
    background-position: -200px -300px;
    top: 300px;
    left: 200px;
}

.tile.moveablepiece:hover{
    border-color: red;
    color: #006600;
    text-decoration-line: underline;
}